<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Reactive.Legacy" version="2.0.3" targetFramework="net45" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="9.0.4" targetFramework="net45" />
  <package id="System.IO.Abstractions.TestingHelpers" version="9.0.4" targetFramework="net45" />
  <package id="log4net" version="2.0.11" targetFramework="net45" />
  <package id="Moq" version="4.16.1" targetFramework="net45" />
  <package id="Telerik.UI.For.WPF" version="2019.3.1023" targetFramework="net45" />
  <package id="NAudio.BruteSigned" version="1.10.0" targetFramework="netstandard2.0" />
  <package id="SharpDX" version="4.2.0" targetFramework="netstandard2.0" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="netstandard2.0" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="netstandard2.0" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="netstandard2.0" />
  <package id="SharpDX.Direct3D10" version="4.2.0" targetFramework="netstandard2.0" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="netstandard2.0" />
  <package id="WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.0.2" targetFramework="net45" />
  <package id="Microsoft.DirectX.SDK" version="2010.0.0-june" targetFramework="net45" />
  <package id="Blend.Interctivity.WPF.v4.0" version="1.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="dygraphs.js" version="0.0.1.1" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="73.1.130" targetFramework="net45" />
  <package id="CefSharp.Common" version="73.1.130" targetFramework="net45" />
  <package id="CefSharp.OffScreen" version="73.1.130" targetFramework="net45" />
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net45" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net45" />
  <package id="DomRecorder" version="0.0.16" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Effort" version="1.0.0.1-beta5" targetFramework="net45" />
  <package id="NMemory" version="1.1.0.1" targetFramework="net45" />
  <package id="EntityHooks" version="1.2.0" targetFramework="net45" />
  <package id="Soraco.Qlm.Licensing" version="7.0.1" targetFramework="net45" />
  <package id="Protobuf.Portable.Net" version="2.0.0.668" targetFramework="net45" />
  <package id="Shimmer.CSharp.API" version="0.7.0-beta" targetFramework="net45" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net45" />
  <package id="AutoFixture" version="3.4.0.1" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.4.0.2" targetFramework="net45" />
  <package id="AutoFixture.Idioms" version="3.4.0.2" targetFramework="net45" />
  <package id="Telerik.Testing.Framework" version="2018.3.1004" targetFramework="net45" />
  <package id="NUnit" version="3.7.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="FlaUI.Core" version="2.0.0-rc1" targetFramework="net45" />
  <package id="FlaUI.UIA3" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net45" />
  <package id="Ben.Demystifier" version="0.1.6" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" licenseSecondaryUrl="https://github.com/dotnet/runtime/blob/master/LICENSE.TXT" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.4.0" targetFramework="netstandard2.0" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.4.0" targetFramework="netstandard2.0" />
  <package id="LiteDB" version="5.0.9" targetFramework="netstandard2.0" />
  <package id="WiX" version="3.11.2" targetFramework="net472" />
  <package id="GrEmit" version="3.4.1" targetFramework="net48" />
  <package id="Tobii.Pro.DiagnosticsCollector" version="0.0.19.19" targetFramework="netstandard2.0" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="netstandard2.0" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net48" />
</packages>
